/*                    @aronnoordam @brunozc
/.github/             @aronnoordam @brunozc
/rose/                @aronnoordam @brunozc
/tests/               @aronnoordam @brunozc
/run_rose/            @aronnoordam @brunozc
/rose_libs/           @aronnoordam @brunozc
/docs/                @aronnoordam @brunozc