numpy==2.3.1
scipy==1.16.0
matplotlib==3.10.3
tqdm==4.67.1
gstools==1.7.0
pytest==8.0.2
pytest-cov==4.1.0
tox==4.13.0
nbmake==1.5.3
Sphinx==7.2.6
sphinx-rtd-theme==2.0.0
sphinxcontrib-bibtex==2.6.2
PuggleSolvers==1.2.0
SignalProcessingTools==1.2.4