numpy==2.2.4
scipy==1.15.2
matplotlib==3.10.1
tqdm==4.66.2
pytest==8.0.2
pytest-cov==4.1.0
gstools==1.7.0
tox==4.13.0
nbmake==1.5.3
sphinx==7.2.6
sphinx-rtd-theme==2.0.0
sphinxcontrib-bibtex==2.6.2
SignalProcessingTools==1.2.1
solvers@git+https://github.com/PlatypusBytes/solvers/