name: Test Notebooks

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test_notebooks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
            pip install .
            pip install pytest nbmake
      - name: Run notebook tests
        run: |
            pytest --nbmake ./tutorials/rose_demo.ipynb
            pytest --nbmake ./tutorials/calculate_strain.ipynb
