name: Test Notebooks

on:
  pull_request:
    branches: [ "**" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test_notebooks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
            pip install .[testing]
      - name: Run notebook tests
        run: |
            pytest --nbmake ./tutorials/rose_demo.ipynb
            pytest --nbmake ./tutorials/calculate_strain.ipynb
